/*Formataçao geral do documento*/
    
* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    text-decoration: none;
    color: white;
    list-style: none;
}

body {
    background-color: #232323;

}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: black;
    align-items: center;
    font: 11pt arial;
    border-bottom: solid 1px white;
}

header input[type="checkbox"] {
    display: none;
}

.head_dir {
    position: absolute;
    right: 70px;
}

.head_dir a {
    padding: 8px;
    color: white;
    font: 17pt arial;
}

.head_dir a:hover {
    background-color: #da9e08;
    color: white;
}

/*CORPO*/

.corpo {
    padding: 35px 0px;
}

.corpo {
    background-color: #232323;
    margin: auto;
    text-align: center;
}

/*PROMOÇAO*/

.promocao h2{
    font-size: 24pt;
}

.itensPromocao {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.itensPromocao img {
    border-radius: 10px;
}

.itensPromocao a {
    width: 189px;
    padding: 10px;
    transition: 400ms;
}

.itensPromocao a:hover {
    transform: scale(1.20, 1.20);
    transition: 400ms;
}

/*PAINEL DIREITO*/

.painel-dir {
    position: fixed;
    height: 100%;
    width: 22%;
    background: black;
    border: solid 1px white;
    top: 0px;
}

.negativo {
    right: -23%;
    transition: .4s;
}

.positivo {
    right: 0;
    transition: .4s;
}

.filtros {
    margin-top: 80px;
}

.filtros li {
    width: 100%;
    padding: 15px;
    font: 15pt arial;
}

.filtros h2 {
    text-align: center;
    padding: 10px;
}

.filtros li:hover {
    background-color: #da9e08;
}
/*
input {
    background: none;
    color: white;
    border: none;
    padding: 8px;
    font: 15pt arial;
}*/

#imgBarras {
    position: fixed;
    right: 10px;
    padding: 15px;
    z-index: 1;
}

#imgBarras img {
    width: 30px;
}


/*Novidades!!!*/

.Novidades{
    margin: 35px 0px;
}
.Novidades h2 {
    font-size: 24pt;
    margin-bottom: 20px;
}
.NovidadesItens{
    display: flex;
    width: 80%;
    margin:auto;
}

.NovidadesItens a{
    margin: 10px;
}

.NovidadesItens a img{
    border-radius: 10px;
}